backports.zoneinfo==0.2.1
beautifulsoup4==4.13.3
black==24.8.0
blinker==1.8.2
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
demjson==2.2.4
Flask==3.0.3
icalendar==6.1.1
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==2.1.5
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
python-dateutil==2.9.0.post0
pytx==0.5.10
pytz==2025.1
requests==2.32.3
six==1.17.0
soupsieve==2.6
tomli==2.2.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.2.3
Werkzeug==3.0.6
zipp==3.20.2
